@import "../utils/variables";

*
{
    color: $font-color;
    background-color: $primary-color;
    font-family: $roboto;
    box-sizing: border-box;
}

body
{
    margin: 0;
}

a
{
    text-decoration: none;
}